Repository tsbuk33/Aqlhr-ai-hr-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aqlhr-maintainers, @aqlhr-db, @aqlhr-frontend, @aqlhr-diagnostic

.github/CODEOWNERS:

# Global ownership
*                   @aqlhr-maintainers

# Database and backend
/supabase/**        @aqlhr-db
**/*.sql            @aqlhr-db
**/migrations/**    @aqlhr-db
**/db/**            @aqlhr-db
/src/lib/db/**      @aqlhr-db

# Frontend components
/src/components/**  @aqlhr-frontend

# Diagnostic and monitoring
/src/components/diagnostic/** @aqlhr-diagnostic

# CI/CD and tooling
/.github/**         @aqlhr-maintainers
/scripts/**         @aqlhr-maintainers

# i18n and localization
/src/i18n/**        @aqlhr-frontend
/src/lib/i18n/**    @aqlhr-frontend

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @aqlhr-maintainers

feat(phases17-20): Complete Document Management + Bulk Import + Import Center System
  cypress/paths.generated.json
  cypress/routes-manifest-report.json
  package-lock.json
  package.json
  scripts/routes-manifest-ast.ts
  src/components/documents/DocumentUploader.tsx
  src/components/documents/ExcelMapperModal.tsx
  src/components/documents/index.ts
  src/components/government/GovDocSection.tsx
  src/components/government/index.ts
  src/config/routes.tsx
  src/hooks/useGovAdapterStatus.ts
  src/hooks/useImportCenter.ts
  src/i18n/locale.tsx
  src/i18n/messages/dashboard.ts
  src/i18n/messages/documents.ts
  src/i18n/messages/employees.ts
  src/i18n/messages/government.ts
  src/i18n/messages/index.ts
  src/lib/api/bulkImport.ts
  src/lib/api/importCenter.ts
  src/lib/data/parseExcel.ts
  src/pages/employees/EmployeeMasterDataPage.tsx
  src/pages/government/AbsherPlatform.tsx
  src/pages/government/GovIntegrationHub.tsx
  src/pages/government/QiwaIntegration.tsx
  src/pages/government/QiwaPlatform.tsx
  src/pages/government/SocialInsurancePlatform.tsx
  src/pages/payroll/GOSIIntegration.tsx
  src/pages/tools/ImportCenter.tsx
  supabase/functions/ai-doc-ocr-parse-v1/index.ts
  supabase/functions/bulk-excel-import-v1/index.ts
  supabase/functions/bulk-import-retry-v1/index.ts
  supabase/migrations/20250828_phase18_gov_docs.sql
  supabase/migrations/20250828_phase19_import_jobs.sql
  supabase/migrations/20250828_phase20_import_center.sql
Owners: @aqlhr-maintainers, @aqlhr-frontend, @aqlhr-db

feat(phase21): Semantic Document Search (RAG) with bilingual Knowledge Search UI
  src/config/routes.tsx
  src/hooks/useSemanticSearch.ts
  src/i18n/locale.tsx
  src/lib/api/semanticDocs.ts
  src/pages/tools/KnowledgeSearch.tsx
  supabase/functions/doc-ingest-v1/index.ts
  supabase/functions/doc-search-v1/index.ts
  supabase/functions/doc-signed-url-v1/index.ts
  supabase/migrations/20250828_phase21_doc_search.sql
Owners: @aqlhr-maintainers, @aqlhr-frontend, @aqlhr-db

feat(phase22): OCR + Advanced PDF/Image Extraction with bilingual monitoring UI
  src/config/routes.tsx
  src/pages/tools/KnowledgeSearch.tsx
  src/pages/tools/OCRJobs.tsx
  supabase/functions/doc-ingest-v1/index.ts
  supabase/functions/ocr-dispatcher-v1/index.ts
  supabase/migrations/20250828_phase22_ocr_pipeline.sql
Owners: @aqlhr-maintainers, @aqlhr-db

feat: implement Phase 24 - Evidence to Action loop for Ask Aql
  public/api/translations/ar.json
  public/api/translations/en.json
  src/components/assistant/RAGAnswer.tsx
  supabase/functions/assistant-actions-v1/index.ts
  supabase/migrations/20250828_phase24_evidence_to_action.sql
Owners: @aqlhr-maintainers, @aqlhr-frontend, @aqlhr-db

feat: implement Phase 23 - RAG Answer with Evidence system
  package-lock.json
  public/api/translations/ar.json
  public/api/translations/en.json
  src/components/assistant/RAGAnswer.tsx
  src/components/routing/AppRoutes.tsx
  src/config/routes.tsx
  src/hooks/useRAGStream.ts
  src/pages/AssistantPage.tsx
  src/pages/RAGPage.tsx
  supabase/functions/doc-sign-url-v1/index.ts
  supabase/functions/rag-answer-v1/index.ts
  supabase/migrations/20250828_phase23_rag_search.sql
Owners: @aqlhr-maintainers, @aqlhr-frontend, @aqlhr-db

feat: implement Phase 25 - Evidence Bundle Exports (PDF/PPTX/CSV/ZIP)
  public/api/translations/ar.json
  public/api/translations/en.json
  src/components/assistant/RAGAnswer.tsx
  src/lib/export/evidence.ts
  supabase/functions/assistant-evidence-bundle-v1/index.ts
Owners: @aqlhr-maintainers, @aqlhr-frontend, @aqlhr-db

feat(phase26): Complete universal document ingestion frontend components
  src/components/docs/DocumentUploadButton.tsx
  src/components/docs/EmployeeDocSection.tsx
  src/components/docs/GovernmentDocPanel.tsx
  supabase/functions/doc-attach-v1/index.ts
  supabase/functions/doc-ingest-v1/index.ts
  supabase/functions/doc-upload-sign-v1/index.ts
  supabase/migrations/20250828_universal_documents.sql
Owners: @aqlhr-frontend, @aqlhr-db

feat(policy-intel): history & trends, CSV/XLSX export, one‑click re‑analysis with SSE, bilingual tabs, and Ask‑Aql session grounding
  cypress/e2e/policy_intel_history.cy.ts
  package-lock.json
  public/api/translations/ar.json
  public/api/translations/en.json
  src/config/routes.tsx
  src/features/policy-intel/api/exportPolicies.ts
  src/features/policy-intel/api/listPolicies.ts
  src/features/policy-intel/api/pushAssessmentMemory.ts
  src/features/policy-intel/api/recomputePolicy.ts
  src/features/policy-intel/components/PolicyRiskTable.tsx
  src/features/policy-intel/components/RiskTrendChart.tsx
  src/pages/compliance/PolicyIntelligencePage.tsx
  src/pages/compliance/PolicyRiskHistoryPage.tsx
  supabase/config/cron.yaml
  supabase/functions/policy-risk-export-v1/index.ts
  supabase/functions/policy-risk-list-v1/index.ts
  supabase/functions/policy-risk-recompute-v1/index.ts
  supabase/functions/policy-risk-refresh-mv-v1/index.ts
  supabase/migrations/20250829_policy_risk_trends.sql
Owners: @aqlhr-maintainers, @aqlhr-db

Create training_diagrams.md
  diagrams/training_development/training_diagrams.md
Owners: @aqlhr-maintainers

Update module-audit.yml
  .github/workflows/module-audit.yml
Owners: @aqlhr-maintainers

Update quality-audits.yml
  .github/workflows/quality-audits.yml
Owners: @aqlhr-maintainers

Create AutonomousDecisionEngine.ts
  src/lib/ai/AutonomousDecisionEngine.ts
Owners: @aqlhr-maintainers

feat: Complete AQLHR Recruitment Enhancement - Integrated 14 local platforms, 4 international clusters, compliance monitoring, and communication hub
  src/pages/core-hr/RecruitmentOnboarding.tsx
Owners: @aqlhr-maintainers

feat: Expert-level recruitment enhancements - API service, React hooks, dashboard components, and utilities
  package-lock.json
  package.json
  src/components/recruitment/RecruitmentDashboard.tsx
  src/hooks/useRecruitmentData.ts
  src/services/recruitment/RecruitmentAPIService.ts
  src/utils/recruitment.ts
Owners: @aqlhr-maintainers, @aqlhr-frontend

feat: Deploy complete AQLHR enhanced recruitment module - Expert implementation with all features
  vite.config.ts.timestamp-1757306074045-1820c17644fc8.mjs
  vite.config.ts.timestamp-1757306188581-716efae927819.mjs
Owners: @aqlhr-maintainers

feat: Expert-level Arabic RTL support - Complete AQLHR platform RTL implementation
  src/App.tsx
  src/components/layout/RTLMainLayout.tsx
  src/components/layout/RTLSidebar.tsx
  src/contexts/RTLLanguageContext.tsx
  src/pages/core-hr/RecruitmentOnboarding.backup.tsx
  src/pages/core-hr/RecruitmentOnboarding.tsx
  src/styles/arabic-rtl-professional.css
Owners: @aqlhr-maintainers, @aqlhr-frontend

feat: Expert-level language consistency fix - Complete Arabic RTL support and center alignment
  src/App.tsx
  src/components/layout/LanguageConsistencyProvider.tsx
  src/contexts/LanguageContext.tsx
  src/styles/language-consistency.css
Owners: @aqlhr-maintainers, @aqlhr-frontend

feat: COMPLETE language consistency fix - 100% Arabic RTL support, center alignment, and mixed content elimination
  src/App.tsx
  src/components/layout/LanguageEnforcer.tsx
  src/styles/language-consistency.css
Owners: @aqlhr-maintainers, @aqlhr-frontend

feat: ULTIMATE Arabic RTL fix - Comprehensive language provider with 500+ translations, complete RTL styling, and center alignment for all modules
  src/App.tsx
  src/components/layout/ComprehensiveLanguageProvider.tsx
  src/styles/comprehensive-arabic-rtl.css
Owners: @aqlhr-maintainers, @aqlhr-frontend

feat: COMPREHENSIVE LANGUAGE SYSTEM - Complete bilingual support with unified translation system, RTL/LTR layouts, and center alignment for all pages
  src/App.tsx
  src/components/layout/UniversalLanguageProvider.tsx
  src/core/components/LanguageProvider.tsx
  src/core/i18n/unified-translation-system.ts
  src/core/styles/unified-rtl-system.css
  src/pages/leo/LearningExperienceOptimizationFixed.tsx
  src/styles/universal-language-support.css
  src/utils/comprehensive-translations.ts
Owners: @aqlhr-maintainers, @aqlhr-frontend

fix: Complete Arabic translation for LEO page - All content now in Arabic with RTL support
  src/pages/leo/LearningExperienceOptimization.tsx
Owners: @aqlhr-maintainers

fix: Replace LEO page with complete Arabic translation - All content now in Arabic with RTL support
  src/pages/leo/LearningExperienceOptimization.tsx
Owners: @aqlhr-maintainers

fix: COMPLETE Arabic translation for LEO page - Fixed hardcoded English text and center alignment
  src/pages/leo/LearningExperienceOptimization.tsx
Owners: @aqlhr-maintainers

fix: COMPLETE i18n implementation for LEO page - Remove all hardcoded strings, add proper Arabic translations, enforce RTL layout
  src/i18n/index.ts
  src/i18n/locales/ar.json
  src/i18n/locales/en.json
  src/pages/leo/LearningExperienceOptimization.tsx
Owners: @aqlhr-frontend, @aqlhr-maintainers

fix: FINAL LEO page fix - Use correct UniversalLanguageProvider and translation keys
  src/components/layout/UniversalLanguageProvider.tsx
  src/pages/leo/LearningExperienceOptimization.tsx
Owners: @aqlhr-frontend, @aqlhr-maintainers

feat: Integrate AQLHR 5-Layer System Architecture
  BACKEND_INTEGRATION.md
  backend/.env.example
  backend/IMPLEMENTATION_GUIDE.md
  backend/README.md
  backend/api/index.py
  backend/config/env.example
  backend/docker-compose.yml
  backend/layer1-presentation/web-interfaces/executive_dashboard.py
  backend/layer2-ai-orchestration/ai-agent-controller/ai_agent.py
  backend/layer2-ai-orchestration/main.py
  backend/layer3-business-logic/hr-microservices/employee_service.py
  backend/layer4-integration/government-connectors/gosi_connector.py
  backend/package.json
  backend/requirements.txt
  backend/scripts/deploy-vercel.sh
  backend/scripts/deploy.sh
  backend/vercel.json
  vercel-backend.json
Owners: @aqlhr-maintainers

docs: Update production URLs to reflect AQLHR.com domain
  BACKEND_INTEGRATION.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
Owners: @aqlhr-maintainers

Version 1: Save current changes
  aqlhr-vercel-backend/.env.example
  aqlhr-vercel-backend/README.md
  aqlhr-vercel-backend/api/ai/index.js
  aqlhr-vercel-backend/api/employees/index.js
  aqlhr-vercel-backend/api/government/gosi.js
  aqlhr-vercel-backend/api/health.js
  aqlhr-vercel-backend/api/index.js
  aqlhr-vercel-backend/api/vision2030/index.js
  aqlhr-vercel-backend/package-lock.json
  aqlhr-vercel-backend/package.json
  aqlhr-vercel-backend/vercel.json
Owners: @aqlhr-maintainers

feat: Add production-ready Vercel backend
  aqlhr-vercel-backend/test-server.js
Owners: @aqlhr-maintainers

Integrate security-hardened backend into AQLHR platform
  .github/workflows/aqlhr-cicd.yml
  docker-compose.yml
  security/security-audit.py
  security_audit_report.json
Owners: @aqlhr-maintainers

Remove workflow file - focus on AQLHR security integration
  .github/workflows/DISABLED_backup.yml
  .github/workflows/aqlhr-cicd.yml
  .github/workflows/auto-backfill.yml
  .github/workflows/ci.yml
  .github/workflows/db-gate.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/module-audit.yml
  .github/workflows/prompt-logs-tests.yml
  .github/workflows/quality-audits.yml
  .github/workflows/security.yml
  .github/workflows/sync-lockfile.yml
  .github/workflows/translation-check.yml
Owners: @aqlhr-maintainers

Phase 4: Frontend-Backend Integration Complete
  AQLHR_BACKEND_INTEGRATION.md
  FRONTEND_BACKEND_INTEGRATION.md
  src/components/ExecutiveCenter.js
  src/services/aqlhrApi.js
Owners: @aqlhr-maintainers, @aqlhr-frontend

🤖 Add AI & Machine Learning Engine to AQLHR Platform
  aqlhr_feedback.db
  aqlhr_feedback_report_20250908_151949.json
  aqlhr_metrics_20250908_151900.json
  microservices/api-gateway/package.json
  microservices/api-gateway/server.js
  microservices/docker-compose.microservices.yml
  monitoring/performance_monitor.py
  performance-optimization/dashboard.html
  user-feedback/feedback_system.py
Owners: @aqlhr-maintainers

feat: Arabic translations and layout alignment fixes - LEO and GEO pages now display proper Arabic titles
  package-lock.json
  src/App.css
  src/i18n/locales/ar.json
  src/index.css
  src/pages/geo/GenerativeEngagementOptimization.tsx
  src/pages/leo/LearningExperienceOptimization.tsx
Owners: @aqlhr-maintainers, @aqlhr-frontend

fix: Arabic translations for LEO and GEO titles in UniversalLanguageProvider
  src/components/layout/UniversalLanguageProvider.tsx
Owners: @aqlhr-frontend

🎯 FINAL FIX: Comprehensive layout alignment fixes for Arabic/English versions
  LAYOUT_FIXES_SUMMARY.md
  package-lock.json
  package.json
  scripts/comprehensive-center-layout-fix.ts
  src/components/layout/CenteredLayout.tsx
  src/index.css
  src/pages/Index.tsx
  src/pages/auth/AuthPage.tsx
  src/styles/layout-fixes.css
Owners: @aqlhr-maintainers, @aqlhr-frontend

🎯 FIX: Arabic heading alignment and smart-kpi route accessibility
  src/components/RecentActivity.tsx
  src/components/RoleBasedAccessMatrix.tsx
  src/components/SimpleRecentActivity.tsx
  src/components/routing/AppRoutes.tsx
  src/config/routes.tsx
  src/index.css
  src/styles/layout-fixes.css
Owners: @aqlhr-frontend, @aqlhr-maintainers

🎯 FIX: Password toggle button alignment in auth form
  src/pages/AuthPage.tsx
  src/styles/layout-fixes.css
Owners: @aqlhr-maintainers

🔧 IMMEDIATE FIX: Password toggle button centering with inline styles
  src/pages/AuthPage.tsx
Owners: @aqlhr-maintainers
